   header {
	
	 .navbar {
		padding-top: 0;
		padding-bottom: 0;
	   }

     ul.navbar-nav {
		margin: 0 auto;
	 }
		
		
	 .nav-link {
		color: $text;
		&:hover {
		color: $secondary-color;
		
	   }
	
      } 
        .btn.btn-primary {
			height: 50px;
			width: 171px;
		}

        .header-logo { 
	          display: inline-block;
           
		}

           .navbar-toggler {
  
	          width: 40px;
	          height: 40px;
              position: relative;
	          background-repeat: no-repeat;
	          background-position: center;
           }
   
   [aria-expanded="true"] {
	  span {
		background-color: transparent;
	  }
	  
	   span:before,
	   span:after {
		top: 0;
	  }
	  
	  span:before {
		transform: rotate(135deg);
	  }
	  
	  span:after {
		transform: rotate(-135deg);
	  }

    }
    span,
	span:before,
	span:after {
	 cursor: pointer;
	 border-radius: 1px;
	 height: 2px;
	 width: 35px;
	 background: white;
	 position: absolute;
	 left: 0;
	 top: 50%;
	 display: block;
	 content: '';
   }
   
	span:before {
	 top: -10px;
   }
   
	span:after {
	 top: 10px;
   }
   
	span,
	span:before,
	span:after {
	 transition: all 0s ease-in-out;
   }
   .navbar-collapse {
	background-color: $accest-background;
   }
   
   
}
 
 