   header {
	
	

	 .navbar {
		padding-top: 0;
		padding-bottom: 0;
	   }

     ul.navbar-nav {
		margin: 0 auto;
	 }
		
		
		
	   

	
	.nav-link {
		color: $text;
		&:hover {
		color: $secondary-color;
		
	   }
	  

} 


.header-logo { 
	display: inline-block;
}

.navbar-toggler {
  
	width: 40px;
	height: 40px;
   position: relative;
	  background-repeat: no-repeat;
	background-position: center;
}
//background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.03328 0L0.0648918 1.97331L11.0316 12.9675L0 24.0484L1.94676 26L13 14.9408L24.0316 26L26 24.0267L14.9684 12.9675L25.9351 1.97331L23.9667 0L13 10.9942L2.03328 0Z' fill='white'/%3E%3C/svg%3E%0A");


  [aria-expanded="true"] {
	 span {
		background-color: transparent;
	  }
	  
	   span:before,
	   span:after {
		top: 0;
	  }
	  
	  span:before {
		transform: rotate(135deg);
	  }
	  
	  span:after {
		transform: rotate(-135deg);
	  }



}
  span,
	span:before,
	span:after {
	 cursor: pointer;
	 border-radius: 1px;
	 height: 2px;
	 width: 35px;
	 background: white;
	 position: absolute;
	 left: 0;
	 top: 50%;
	 display: block;
	 content: '';
   }
   
	span:before {
	 top: -10px;
   }
   
	span:after {
	 top: 10px;
   }
   
	span,
	span:before,
	span:after {
	 transition: all 4s ease-in-out;
   }
   .navbar-collapse {
	background-color: $accest-background;
   }
   
   }
 
 