<section class="ferst-screen">
   <div class="single-item container-fluid">
    <div class="baner-item" style="background-image: url(assets/img/fist1.svg);">
        <div class="baner-item__content">
            <div class="baner-item__title">Прямое КАРГО из Китая</div>
            <div class="baner-item__subtitle">Доставляем любые грузы из Китая по честной цене</div>
             <button class="btn btn-primary">Рассчитать стоимость</button>
            </div>

        </div>
    <div class="baner-item" style="background-image: url(assets/img/fist2.svg);">
        <div class="baner-item__content">
            <div class="baner-item__title">Выкуп товара с ТаоБао, 1688</div>
            <div class="baner-item__subtitle">Выкуп и доставка товаров с китайских торговых площадок.</div>
             <button class="btn btn-primary">Рассчитать стоимость</button>
            </div>
    
    </div>
    <div class="baner-item" style="background-image: url(assets/img/fist3.svg);">
        <div class="baner-item__content">
            <div class="baner-item__title">Экспресс авто доставка</div>
            <div class="baner-item__subtitle">ДДоставка автотранспортом из Китая в Россию от 15 дней, от $0,5/кг</div>
             <button class="btn btn-primary">Рассчитать стоимость</button>
            </div>
    
    </div>
    <div class="baner-item" style="background-image: url(assets/img/fist4.svg);">
        <div class="baner-item__content">
            <div class="baner-item__title"></div>
            <div class="baner-item__subtitle"></div>
             
            </div>

    </div>
</div>
</section>